@import "tailwindcss";

@theme {
    --ease-smooth: cubic-bezier(0.32, 1, 0.23, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
}

@layer utilities {
    @keyframes enter {
        from {
            opacity: var(--tw-enter-opacity, 1);
            transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), 1);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        }
    }

    @keyframes exit {
        from {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        }

        to {
            opacity: var(--tw-exit-opacity, 1);
            transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), 1);
        }
    }

    .animate-in {
        animation-name: enter;
        animation-duration: 700ms;
        animation-timing-function: var(--ease-smooth);
        animation-fill-mode: forwards;
    }

    .animate-out {
        animation-name: exit;
        animation-duration: 500ms;
        animation-timing-function: var(--ease-smooth);
        animation-fill-mode: forwards;
    }

    /* Opacity */
    .fade-in-0 {
        --tw-enter-opacity: 0;
    }

    .fade-out-0 {
        --tw-exit-opacity: 0;
    }

    /* Translates */
    .slide-in-from-right {
        --tw-enter-translate-x: 100%;
    }

    .slide-in-from-left {
        --tw-enter-translate-x: -100%;
    }

    .slide-in-from-top {
        --tw-enter-translate-y: -100%;
    }

    .slide-in-from-bottom {
        --tw-enter-translate-y: 100%;
    }

    .slide-out-to-right {
        --tw-exit-translate-x: 100%;
    }

    .slide-out-to-left {
        --tw-exit-translate-x: -100%;
    }

    .slide-out-to-top {
        --tw-exit-translate-y: -100%;
    }

    .slide-out-to-bottom {
        --tw-exit-translate-y: 100%;
    }
}